# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
venv310/
venv311/

# Env files
.env
.env.*

# IDE
.vscode/
.idea/

# Node
node_modules/

# OS
.DS_Store

# Logs
*.log

# Secrets
credentials.json
service_account.json

# Alembic cache
alembic/versions/__pycache__/